<IfModule mod_rewrite.c>
    RewriteEngine On

    # Dejar pasar los retos ACME sin reescrituras
    RewriteRule ^\.well-known/acme-challenge/ - [L]

    # Envíar todo lo demás a public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
